{%extends "base.html"%}

{% block body%}

<div class="container mt-5  shadow register ">
    <h2>Register</h2>
    <div class="row">
      {% for errors in form.errors.values() %}
      <div class="alert alert-danger">
          {% for error in errors %}
          <br>{{ error }}</br>
          {% endfor %}
      </div>
      {% endfor %}
    </div>
    <form method="POST" class="col p-3">
        {{form.hidden_tag()}}
        <div class="row ">
          {{form.username(class="form-control", placeholder=form.username.label.text)}}
        </div>
        <div class="row mt-2">
          {{form.password(class="form-control", placeholder=form.password.label.text)}}
        </div>
        <div class="row mt-2">
          {{form.repeat_password(class="form-control", placeholder=form.repeat_password.label.text)}}
        </div>
        <div class="row mt-2">
          {{form.phone_number(class="form-control", placeholder=form.phone_number.label.text)}}
        </div>
        <div class="row mt-2">
          {{form.birthday(class="form-control")}}
        </div>
        <div class="row mt-2">
          {{form.gender}}
        </div>
        <div class="row mt-2">
          {{form.country(class="form-select")}}
        </div>

        <div class="row mt-2">
          {{form.submit(class="btn btn-primary",placeholder=form.submit.label.text)}}
        </div>
    </form>
</div>

{% endblock %}