
{%extends "base.html"%}

{% block body%}
<div class="container accordion shadow" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
       What are some advantages of shopping at an online bookstore compared to a physical bookstore?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
      <div class="accordion-body">
        <strong></strong> : Shopping at an online bookstore offers advantages such as convenience (24/7 access from anywhere with an internet connection), a wider selection of titles, often lower prices, and the ability to read reviews and recommendations before making a purchase.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
      How does an online bookstore handle the shipping and delivery of purchased books?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
      <div class="accordion-body">
        <strong></strong> Online bookstores typically offer various shipping options, including standard, expedited, and sometimes even same-day delivery, depending on the customer's location and preferences..
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
          How do online bookstores handle returns and refunds?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
      <div class="accordion-body">
        <strong></strong>Online bookstores typically have return policies that allow customers to return books within a certain timeframe if they are damaged, defective, or not as described. Refunds are issued based on the condition of the returned item and the store's refund policy.
      </div>
    </div>
  </div>
</div>

   
{%endblock%}